<!DOCTYPE html>
<html>

<head>
    <title>Find Recipes</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="container mt-5">
        <h1>Find Recipes</h1>
        <form method="get" action="/recipes/ingredient">
            <input type="text" name="ingredient" placeholder="Enter ingredient" required>
            <button type="submit">Search</button>
        </form>
        <!-- <div id="recipe-list"></div> -->
    </div>

    <div class="buttons-container">
        <a href="/homepage" class="btn">Back to Homepage</a>
        <a href="/logout" class="btn">Logout</a>
    </div>
</body>

</html>